html,body{
    height: 97%;
    .publish-wrap{
        height: 100%;
        .publish{
            width: 100%;
            height: 100%;
            resize:none;
            border: none;
        }
    }
}
