.content-container{
  position: absolute;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}
.main-tip{
  font-size: 3.2vw;
    color: #fff;
    line-height: 4.53333vw;
    letter-spacing: 1.6vw;
    margin: 0 auto 6.66667vw;
    text-align: center;
}
.am-list{
  position: absolute;
  top: 37%;
  left:7%
}
.am-button{
  position: absolute;
  top: 50%;
  left:40%
}
.am-flexbox{
  position: absolute;
  justify-content: space-between;
  width: 84%;
  top: 44.5%;
  left: 7%;
}
.am-flexbox-item{
  color: #25d4d0;
  font-size: 14px;
}
.login_sms{
  text-align: right;
}
.am-input-label{
  color: #25d4d0!important;
}
.foot{
  position: absolute;
  bottom: 10px;
  left: 43px;
  font-size: 14px;
  color: #fff;
}
.foot span{
  color: #25d4d0!important;
}
.am-list-body{
  border: 10px;
}

.inputNum{
  display: flex;
  justify-content: space-between;
  width: 238px;
}
.pswLog{
  text-align: center;
  color: #25d4d0;
}
.senToPhone{
  text-align: center;
  color: #25d4d0;
}
.smsTitle{
  background-color: #fff;
  position: absolute;
  z-index: 12;
  top: 36%;
  left: 8%;
}
p .am-button{
  position: absolute;
  top: 50%;
  left:32%
}
.am-toast-mask{
  position: fixed;
  z-index: 123467;
}
.am-list-content{
  color: #25d4d0!important;
}